{% extends 'layout.html.twig' %}


{% block content %}

    <!-- begin #content -->
    <div id="content" class="content">
        <!-- begin breadcrumb -->
        <ol class="breadcrumb pull-right">
            <li><a href="{{ path('homepage') }}">Accueil</a></li>
            <li class="active">Paramètres</li>
        </ol>
        <!-- end breadcrumb -->
        <!-- begin page-header -->
        <h1 class="page-header">Paramètres</h1>
        <!-- end page-header -->

        <!-- begin row -->
        <div class="row">
            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="form-stuff-1">
                    <div class="panel-heading">
                        <h4 class="panel-title">Quantité maximale de participants</h4>
                    </div>
                    <div class="panel-body" id='div_edit_maximum'>
                        {{ render(controller('AppBundle:Configuration:editMaximum')) }}
                    </div>
                </div>
                <!-- end panel -->
            </div>
            <!-- end col-12 -->
        </div>


        <!-- begin row : Première ligne -->
        <div class="row">

            <!-- begin col-12 -->
            <div class="col-md-12">
                <!-- begin panel -->
                <div class="panel panel-inverse" data-sortable-id="table-basic-1">
                    <div class="panel-heading">

                        <h4 class="panel-title">Gestion des tarifs</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Description</th>
                                    <th>Durée (en H)</th>
                                    <th>Nbr de personnes</th>
                                    <th><i class="fa fa-cog"></i></th>
                                    <th><i class="fa fa-trash"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>I</td>
                                    <td>Entrée classique</td>
                                    <td></td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><a href="#" title="Modifier ce tarif"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" title="Supprimer ce tarif"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>X</td>
                                    <td>Entrée classique après 20h</td>
                                    <td></td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><a href="#" title="Modifier ce tarif"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" title="Supprimer ce tarif"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>R</td>
                                    <td>2ème session</td>
                                    <td></td>
                                    <td>1</td>
                                    <td>1</td>
                                    <td><a href="#" title="Modifier ce tarif"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" title="Supprimer ce tarif"><i class="fa fa-trash"></i></a></td>
                                </tr>
                                <tr>
                                    <td>X</td>
                                    <td>Baby weez</td>
                                    <td></td>
                                    <td>1</td>
                                    <td>2</td>
                                    <td><a href="#" title="Modifier ce tarif"><i class="fa fa-pencil"></i></a></td>
                                    <td><a href="#" title="Supprimer ce tarif"><i class="fa fa-trash"></i></a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end panel -->
            </div>

            <div class="col-md-12">
                <a href="tarifs.php"><div class="btn btn-primary m-r-5">Nouveau tarif</div></a>
            </div>		
        </div>
        <!-- end row -->




    </div>
    <!-- end #content -->

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function submitEditMaximumForm() {
            var form = $('#div_edit_maximum form');
            xhr = $.ajax({
                type: "POST",
                url: form.attr('action'),
                data: form.serialize(),
                success: function (html) {
                    $('#div_edit_maximum').empty().html(html);
                },
                error: function (xhr) {
                }
            });
        }

        $(document).on('submit', '#div_edit_maximum form', function (e) {
            e.preventDefault();
            submitEditMaximumForm();
        });
        $(document).on('change', 'input.edit_maximum_input', function (e) {
            e.preventDefault();
            submitEditMaximumForm();
        });

    </script>
{% endblock %}