/* 
Styles ajoutés par Spritz
*/

img.logo-top {
	display: inline-block; 
	margin-right: 10px;
}

.widget.widget-stats.bg-purple .stats-desc a:link, .widget.widget-stats.bg-purple .stats-desc a:visited {
	color: #fff;
}

.places-restantes {
	display: block;
	width: 100%;
	margin-top: 3px;
}

.creneau {
	color: #ffffff;
}

.panel-title {
	font-size: 16px;
}

/* Couleur rouge */
.rouge {
	background-color: rgba(229,8,8,0.8);
}

.rouge >.panel-heading {
	background-color: rgba(229,8,8,1);
}

/* Couleur Orange */
.orange {
	background-color: rgba(249,122,49,0.8);
}

.orange >.panel-heading {
	background-color: rgba(249,122,49,1);
}

/* Couleur Jaune */
.jaune {
	background-color: rgba(246,220,18,0.8);
}

.jaune >.panel-heading {
	background-color: rgba(246,220,18,0,1);
}

/* Couleur Violet */
.violet {
	background-color: rgba(161,6,132,0.8);
}

.violet >.panel-heading {
	background-color: rgba(161,6,132,1);
}

/* Couleur Rose */
.rose {
	background-color: rgba(253,63,146,0.8);
}

.rose >.panel-heading {
	background-color: rgba(253,63,146,1);
}

/* Couleur Vert */
.vert {
	background-color: rgba(58,242,75,0.8);
}

.vert >.panel-heading {
	background-color: rgba(58,242,75,1);
}

/* Couleur Marron */
.marron {
	background-color: rgba(88,41,0,0.8);
}

.marron >.panel-heading {
	background-color: rgba(88,41,0,1);
}

/* Couleur Bleu */
.bleu {
	background-color: rgba(44,117,255,0.8);
}

.bleu >.panel-heading {
	background-color: rgba(44,117,255,1);
}


/* Classe Grisée : objet désactivé */
.grisee {
	background-color: rgba(204,204,204,0.5);
	color: #eee;
}

.grisee >.panel-heading {
	background-color: rgba(204,204,204,1);
	color: #eee;
}

.btn-warning.places-restantes {

}

.btn-warning, .btn-warning:active, .btn-warning:focus, .btn-warning:hover {
	background: #f59c1a;
	background-color: #f59c1a;
	border-color: #f59c1a;
	cursor: default;
}

.btn-group .btn.btn-warning:not(.active) + .btn.btn-warning, .input-group-btn .btn.btn-warning:not(.active) + .btn.btn-warning {
    border-left-color: #f59c1a
}


form.form-horizontal:after {
	display: none;
}

@media screen and (min-width: 768px) {
	.content .en-tete {
	 	position: fixed;
		height: 230px;
		top: 53px;
		padding-top: 25px;
		background-color: #dae0e6;
		z-index: 10;
		border-bottom: 2px solid #eee;
		width: 100%;
	padding-right: 270px;
	}
	
	.content .calendrier {
		margin-top: 250px;
		position: relative;
	
	}
	
	.modal {
	z-index: 1050 ;
	}
}


.text-danger ul {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.text-danger li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

/*. Customisation liste select */
button.btn.selectpicker {
	background-color: #fff;
	color: #000;
}

.bootstrap-select.btn-group .dropdown-menu li>a {
	line-height: 30px;
	cursor: pointer;
	font-weight: bold;
}